body {
    background-color: #DCE0D9;
}


.sidebar{
    background-color: #6B0F1A;
}


/* NAVBAR */

.barra{
    background: rgba(255,255,255,0.3);
    text-transform: uppercase;
}

/* SECTIONS */

.section{
    height: 100vh;
}

.section2{
    background-color: #6B0F1A;
}

.section3{
    background-color: #31081F;
}

/* HORARIO */

.salon{
    background-color: white;
    text-align: center;
    padding: 5px;
    width: ;
}

.modalidad{
    background-color: #6B0F1A;
}