body {
    background-color: #BCBDC0;
}


/* NAVBAR */

.barra{
    text-transform: uppercase;
    background-color: #BCBDC0;
    font-weight: bolder;

}

/* SECTIONS */

.titulo{
    color: white;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 42px;
}


.section1{
    height: 95vh;
    background-image: url(../img/fondo2.png), url(../img/fondo3.png), url(../img/sol.png);
    background-position: 100% 100%, 0% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-size: 70%,60%,40%;
    animation-name: backgroundSlideIn;
    animation-duration: 2s;
}

#fondoRojo{
    animation-duration: 1s;
    animation-name: slidein;
}

/* ANIMACIONES */

@keyframes slidein {
    from {margin-top: 50vh}
    to{margin-top: 0;}
}

@keyframes backgroundSlideIn {
    from {background-position: 100% 500%, 0% 500%, 50% 500%;}
    to {background-position: 100% 100%, 0% 100%, 50% 100%;} 
}

.section2{
    background-color: #721121;
    height: 80vh;
}

.section3{
    background-color: #051014;
    height: 100vh;
}

/* HORARIO */

.wrapper{
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-flow: wrap;
}

.niveles{
    margin-right: 10px;
}

.salon{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
    width: 250px;
}

.niveles{
    margin-top: 100px;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.nivel{
    margin-bottom: 80px;
}


.modalidad{
    background-color: #051014;
    border-radius: 15px 15px 0px 0px;
    color: white ;

}

/* Barra */
.sidebar{
    background-color: #721121;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.socialmedia{
    width: fit-content;
    color: #E6E6E6;
    transform: rotate(90deg);
    position: fixed;
    margin-top: 30vh;
};
