body {
    background-color: #BCBDC0;
}


/* NAVBAR */

.barra{
    text-transform: uppercase;
    background-color: #BCBDC0;
    font-weight: bolder;

}

/* SECTIONS */

.titulo{
    color: white;
    padding-left: 100px;
    margin-top: 100px;
    font-size: 42px;
}


.section1{
    height: 95vh;
    background-image: url(../img/fondo2.png), url(../img/fondo3.png), url(../img/sol.png);
    background-position: 100% 100%, 0% 100%, 50% 85%;
    background-repeat: no-repeat;
    background-size: 70%,60%,40%;
    animation-name: backgroundSlideIn;
    animation-duration: 2s;
}

#fondoRojo{
    animation-duration: 1s;
    animation-name: slidein;
}

/* ANIMACIONES */

@keyframes slidein {
    from {margin-top: 50vh}
    to{margin-top: 0;}
}

@keyframes backgroundSlideIn {
    from {background-position: 100% 500%, 0% 500%, 50% 500%;}
    to {background-position: 100% 100%, 0% 100%, 50% 85%;} 
}

.section2{
    background-color: #721121;
    padding: 100px;
}

.section3{
    background-color: #051014;
    color: white;
    height: 100vh;
    padding: 0px 100px 50px 100px;
    display: block;
}

/* HORARIO */

.wrapper{
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-flow: wrap;
}

.salon{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
    width: 250px;
}

.modalidad, .nivel{
    text-transform: uppercase;
    background-color: #051014;
    border-radius: 15px 15px 0px 0px;
    color: white;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

.nivel{
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 60px;
}

/* Barra */
.sidebar{
    background-color: #721121;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.socialmedia{
    width: fit-content;
    color: #E6E6E6;
    transform: rotate(90deg);
    position: fixed;
    margin-top: 30vh;
}

/* FORMULARIO DE INSCRIPCIÓN */

.formulario{
    padding: 15px;
    display: block;
}


.boton{
    background-color: #721121;
    border: 1px solid #6A101F;
    padding: 15px;
}

.boton:hover{
    background-color: #8D162A;
    border: 1px solid #7C1325;
}

.boton:focus{
    background-color: #470B15;
    border: 1px solid #7C1325;
    box-shadow: 0 0 0 0.25rem rgb(141 22 42 / 50%);
    color: #E6E6E6;
}

.boton:active{
    border: 1px solid #7C1325;
    box-shadow: 0 0 0 0.25rem rgb(141 22 42 / 50%);
}

